* {
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  margin: 1rem;
}

.alert {
  box-shadow: 0 5px 10px #000000;
}

.btn {
  box-shadow: 0 5px 10px #000000;
  text-shadow: -2px 2px 3px #000000;
}
.side-bar {
  background-color: #420C14;
  box-shadow: 0 5px 10px #000000;
  min-width: 200px;
  padding: 1rem;
  text-shadow: -2px 2px 3px #000000;
}

form {
  border: .2px solid #420C14;
  box-shadow: 0 5px 10px #000000;
  margin: 1rem;
  padding: 1rem;
}